@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@700&display=swap');
*
{
    margin: 0; /*outside blank*/
    padding: 0; /*inside blank*/
    box-sizing: border-box;
    /* border: 1px solid black; */
}
body
{
    font-family: 'Comfortaa', cursive;
    background: cornflowerblue;
    color: white;
    text-shadow: 1px 1px 0 darkgray;
    font-size: 16px;
    line-height: 160%;
    letter-spacing: -1px;
}
a
{
    text-decoration: none;
    color: white;
    text-shadow: 1px 1px 0 darkgray;
}
header
{
    margin: 20px auto;
    width: 400px;
}
nav ul
{
    display: flex;
}
nav ul li
{
    flex: 1;
    list-style: none; /* delete the bullet*/
    text-align: center;
    padding: 10px;
}
nav ul li a
{
    padding: 10px;
    background: cyan;
    border-radius: 15px;
    transition: 0.5s;
}
nav ul li a:hover
{
    background-color: darkcyan;
}
article
{
    text-align: center;
    position: relative;
    top: 50px;
}
.main
{
    position: fixed;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
}
table
{
    text-align: left;
    margin: 20px auto;
}
td{
    padding: 3px
}
h1
{
    font-size: 2em;
}
footer
{
    background: darkgray;
    text-align: center;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
}