@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@700&display=swap');
*
{
    margin: 0; /*outside blank*/
    padding: 0; /*inside blank*/
    box-sizing: border-box;
    border: 1px solid black;
}
body
{
    font-family: 'Comfortaa', cursive;
    background: cornflowerblue;
    color: white;
    text-shadow: 1px 1px 0 darkgray;
    font-size: 16px;
    line-height: 160%;
    letter-spacing: -1px;
}
a
{
    text-decoration: none;
    color: white;
    text-shadow: 1px 1px 0 darkgray;
}
header
{
    margin: 0 auto;
    width: 50%;
}
article
{
    text-align: center;
}
footer
{
    background: darkgray;
}