* /*all tags*/
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body
{
    font-size: 16px;
    font-family: 'Pacifico', cursive;
    font-size: x-large;
    letter-spacing: -1px;
    line-height: 160%;
}
#container
{
    width: 1000px;
    position: relative;
    margin: 0 auto;
}
nav ul
{
    width: 100%;
    background-color: brown;
    display: flex;
}

a
{
    text-decoration: none;
    color: gray;
    display: block;
}
/*----------------------------------------------------------------------------*/
header
{
    width: 1000px;
    height: 100px;
    background-color: skyblue;
    position: relative;
    z-index: 1;
    top: 0;
    position: fixed;
    backdrop-filter: blur(20px);
}
#logo
{
    width: 200px;
    height: 50px;
    background-color: gray;
    position: absolute;
    top: 20px;
    left: 20px;
}
nav
{
    width: 60%;
    height: 50px;
    background-color: violet;
    position: absolute;
    top: 20px;
    right: 20px;
}
nav li
{
    flex: 1;
    list-style: none;
    display: inline-block;
    background-color: yellow;
    border: 1px solid black;
    padding: 5px;
    text-align: center;
    font-weight: bold;
    font-size: 1.2em;
    transition: 0.4s;
}
nav li a
{
    transition: 0.4s;
}
nav li:hover
{
    background-color: orange;
}
nav li a:hover
{
    color : darkgray;
}
/*---------------------------------------------------*/
#slide
{
    width: 100%;
    height: 300px;
    background-color: blueviolet;
    overflow: hidden;
}
#slide .move
{
    animation: slide 10s infinite;
    width: 400%;
    display: flex;
    position: relative;
}
#slide .move img
{
    flex: 1;
    width: 25%;
}
@keyframes slide
{
    0%
    {
        left:0px;
    }
    33%
    {
        left:-1000px;
    }
    40%
    {
        left: -1000px;
    }
    66%
    {
        left: -2000px;
    }
    70%
    {
        left: -2000px;
    }
    90%
    {
        left: -3000px;
    }
    100%
    {
        left:-3000px;
    }
}
/*
#slide .circle
{
    width: 200px;
    height: 200px;
    background-color: salmon;
    border-radius: 50%;
    border: 1px solid black;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    z-index: 1;
    animation: circle 1s infinite alternate;
}
@keyframes circle
{
    0% 
    {

    }
    50%
    {
        width: 100px;
        height: 100px;
        background-color: darkorange;
        
    }
    100%
    {
        border-radius: 0%;
        background-color: coral;
    }
}*/
article
{
    width: 1000px;
    background-color: slateblue;
    display: flex;
    position: relative;
}
section
{
    flex: 1;
    background: cyan;
    border: 1px solid black;
    width: 200px;
    display: inline-block;
    height: 250px;
}
footer
{
    width: 1000px;
    height: 100px;
    background-color: steelblue;
}