body
{
    background: ivory;
    
}
div{
    background: gray;
    width: 300px;
    height: 300px;
    border: 5px solid black;
    padding: 30px;
    margin: 30px;
    box-sizing: border-box;
}
p{
    text-align: justify;
    font-family: 'Dancing Script', cursive;
    line-height: 160%;
    text-shadow: 1px 1px 9px blue; 
    /*text-shadow: 1px 1px 0px blue, -1px -1px 0px red;*/
    letter-spacing: -1px;
    font-style: italic;
    text-decoration: underline;
}
h1
{
    color:red;
}
mark
{
    color:blue;
}
ul li:nth-child(3)
{
    color:green;
}
ol li:nth-child(6)
{
    font-family: 'Dancing Script', cursive; font-size: x-large;
}
h2
{
    background: greenyellow;
    width: 100px;
    height: 100px;
}